table {
  @apply min-w-full divide-y divide-gray-200 shadow-sm;
}

th {
  @apply bg-gray-50 text-gray-700 py-3 px-4 text-left text-sm font-semibold uppercase tracking-wider border-b;
}

td {
  @apply px-4 py-2 whitespace-nowrap text-sm text-gray-600 border-b;
}

tbody tr {
  @apply bg-white transition duration-300 ease-in-out;
}

tbody tr:hover {
  @apply bg-gray-50;
}

/* Responsive Table */
@media (max-width: 640px) {
  table {
    @apply block overflow-x-auto;
  }

  th, td {
    @apply block text-center;
  }
}